
@{
    ViewBag.Title = "TipoPago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<div class="m-portlet m-portlet--tabs m-portlet--accent m-portlet--head-solid-bg m-portlet--head-sm" id="listadoPacientes">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <i class="icon-layers font-blue"></i>
            <span class="caption-subject bold uppercase m--font-metal">
                Pacientes
            </span>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item m-portlet__nav-item--last">
                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                            <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="m-dropdown__wrapper">
                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                        <ul class="m-nav">
                                            <li class="m-nav__section m-nav__section--first">
                                                <span class="m-nav__section-text">
                                                    Acciones
                                                </span>
                                            </li>
                                            <li class="m-nav__item">
                                                <a onclick="javascript: $('#nuevoPaciente').show(); $('#listadoP').hide();"   class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-add"></i>
                                                    <span class="m-nav__link-text">
                                                        Registrar nuevo
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body" id="listadoP">
        <input id="txtPaciente" class="form-control m-input" type="text" onchange="javascript:SearchText()" />
       <div id="listado"></div>
    </div>
    <div id="nuevoPaciente" style="display:none;">
        @{ Html.RenderAction("Nuevo", "Pacientes"); }
    </div>
</div>
<div class="m-portlet m-portlet--tabs m-portlet--accent m-portlet--head-solid-bg m-portlet--head-sm" style="display:none;" id="detallePaciente">
</div>

<script>
    $(document).ready(function () {
        SearchText();
    });
    function SearchText() {
        if ($('#txtPaciente').val().length > 4){
             $('#listado').html('');
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                Nombre: $('#txtPaciente').val()
            },
            url: '@Url.Content("~/")Pacientes/ListadoPacientesBusqueda',
            async: true,
            success: function (response) {
                $('#listado').html(response);
            },
            error: function (response) {
                $('#listado').html(response.responseText);
            }
        });

        }

    }
</script>