<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Syncfusion.Compression.Net.Core" version="16.4.0.53" targetFramework="net452" requireReinstallation="true" />
  <package id="Syncfusion.Licensing" version="16.4.0.53" targetFramework="net452" requireReinstallation="true" />
</packages>