
@{
    ViewBag.Title = "Insumos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<div class="m-portlet m-portlet--tabs m-portlet--accent m-portlet--head-solid-bg m-portlet--head-sm">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <i class="icon-layers font-blue"></i>
            <span class="caption-subject bold uppercase m--font-metal">
                Insumos
            </span>
        </div>
 
        <div class="m-portlet__head-tools">
            <a onclick="javascript: $('#nuevo').show(); $('#envia').hide(); $('#listado').hide();" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-add"></i>
                <span class="m-nav__link-text">
                    Registrar nuevo
                </span>
            </a>
            <a onclick="javascript: $('#envia').show(); $('#nuevo').hide(); $('#listado').hide();" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-add"></i>
                <span class="m-nav__link-text">
                    Enviar insumo
                </span>
            </a>
        </div>
    </div>

    <div id="nuevo" style="display:none;">
        @{ Html.RenderAction("NuevoInsumo", "Catalogos"); }
    </div>
    <div id="envia" style="display:none;">
        @{ Html.RenderAction("EnvioInsumo", "Catalogos"); }
    </div>
    <div class="m-portlet__body" id="listado">
        <div class="form-group m-form__group row">
            <div class="col-lg-3 col-md-9 col-sm-12">
                <input type="date" id="inicio1" class="form-control" name="fecha" aria-required="true" aria-invalid="false">
            </div>
            <div class="col-lg-3 col-md-9 col-sm-12">
                <input type="date" id="fin1" class="form-control" name="fecha" aria-required="true" aria-invalid="false">
            </div>
            <div class="col-lg-3 col-md-9 col-sm-12">
                <a class="btn btn-secondary m-btn m-btn--air m-btn--custom" onclick="Buscar()">Buscar</a>
            </div>
            <div class="col-lg-3 col-md-9 col-sm-12">
                <a class="btn btn-secondary m-btn m-btn--air m-btn--custom" onclick="tableToExcel('tblInsumos', 'Exportar')" value="Exportar to Excel">Exportar a excel</a>
            </div>
        </div>
        <div class="m-portlet__body" >
            @{ Html.RenderAction("ListadoInsumos", "Catalogos"); }
        </div>
    </div>

   
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblUsuarios').DataTable();
        $('#tblUsuarios').removeClass('dataTable');
    });
</script>

<script>

       function Buscar() {
           $('#listado').html('');
           $('#listado').show();
           var inicio = $('#inicio1').val()
           var fin = $('#fin1').val()
         $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                Inicio: inicio, Fin: fin
            },
            url: '@Url.Content("~/")Catalogos/InsumosBusqueda',
            async: true,
            success: function (response) {
                $('#listado').html(response);
            },
            error: function (response) {
                $('#listado').html(response.responseText);
            }
        });
    }
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()

</script>