@{
    ViewBag.Title = "Resultado";
    Layout = null;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/dropzone.js"></script>
<div class="m-portlet m-portlet--info" id="form_wizard_1">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <i class="icon-layers font-blue"></i>
            <span class="caption-subject font-blue bold uppercase">
                CAPTURA DE RADIOGRAFÍA/ULTRASONIDO
            </span>
        </div>
    </div>
    <div class="portlet-body form">
        <form class="m-form m-form--fit m-form--label-align-right" action="#" id="submit_form" method="POST" novalidate="novalidate">
            <div class="form-wizard">
                <div class="m-portlet__body">
                    <h3 class="block">Detalle del resultado</h3>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            Observaciones
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <div class="col-lg-9">
                            <textarea class="form-control m-input" rows="3" name="remarks" id="observaciones"></textarea>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="m-dropzone dropzone m-dropzone--primary dz-clickable" action="@Url.Action("Subir", "Multimedia" )" id="m-dropzone-two" style="width:100%;">
                            <div class="m-dropzone__msg dz-message needsclick">
                                <h3 class="m-dropzone__msg-title">
                                   Arroja aqui los archivos que deseas subir.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-10">
                                <button type="reset" class="btn btn-success" onclick="javascript: GuardarResultado()">
                                    Guardar
                                </button>
                                <a type="reset" class="btn btn-secondary" onclick="javascript: $('#listadogabinete').show(); $('#detalle').hide();" >
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    
    var adjuntos = "";

    function GuardarResultado() {
        if (adjuntos.includes(".jpg") || adjuntos.includes(".jpeg") || adjuntos.includes(".png")) {
           
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    data: {
                        SubCategoria: $('#SubCategoria').val(), Titulo: $('#Titulo').val(), Contenido: $('#editor')[0].outerHTML.replace('DauphinPlain', 'MyFont'), Adjuntos: adjuntos
                    },
                    url: '@Url.Content("~")Estudios/CrearResultado',
                    async: true,
                    success: function (response) {
                        if (response.Resultado != null) {
                            alert('Guardado con exito!')
                            window.location.reload();
                        }
                        else {
                            alert('');
                        }
                    },
                    error: function (response) {
                    },
                });
        }
        else{
            alert('Debe subir al menos una imagen al resultado')
        }
    }
</script>