
@{
    ViewBag.Title = "Footer";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="position:FIXED; bottom:10px; left:50px; right:50px;height:auto;">    <span style="color:cadetblue"> CENTRO MEDICO LA PRESA</span>    <span> Paseo de la Presa 85, col. Centro.</span>    <span>Tel: (473) 731-1074, (473) 731-2698</span>    <span style="color:cadetblue"> GALEREÑA</span>   <span> Plaza Galereña, col. Burócrata.</span>    <span>Tel: (473) 733-4796</span>    <span style="color:cadetblue"> EL CANTADOR</span>    <span>Cantador 15 (junto al IMSS).</span>    <span>Tel: (473) 734- 1367 </span>    <span style="color:cadetblue"> EUQUERIO GUERRERO</span>    <span>Blvd. Euquerio Guerrero 187, col Yerbabuena.</span>    <span>Tel: (473) 690-4504</span></div>


</body>
</html>